* { margin:0px; padding:0px; }

a	{
	text-decoration: none;}
	

h1	{
	font-weight:bold;
	font-size:18px;
	
	margin: 0 0 0 0;
	letter-spacing:-1px;
	text-decoration: none;}
	
	h1:hover{
		color:#000;
		background:#ffff66;}

@font-face { font-family: Delicious; src: url('Capinella-ou-Beaujoais.ttf'); } 
	
body		{ 
    font-family:arial, sans-serif; 
    background-color: #fff;
    font-size:14px; }

html, body {
  margin: 0;
  height: 100%
}

.container	
{ 
	width:80%; 
	height:100%; 
	margin: auto; 
	display: block;
	
}

@-webkit-keyframes BackgroundSlide {
  0% {
    background-position: 0% 0px ; 
  }
  100% {
    background-position: 0% 100px ; 
  }
}

@-moz-keyframes BackgroundSlide {
  0% {
    background-position: 0% 0px ; 
  }
  100% {
    background-position: 0% 100px ; 
  }
}

@keyframes ColorChange {
  0%    {color: #53234F;}
  25%   {color: #7E3E78;}
  50%   {color: #6B3167;}
  75%   {color: #7E3E78;}
  100%  {color: #53234F;}
}

.name{
  width: 400px;
  padding-left:0%;
  margin: 0 auto;
  margin-top:10%;
  text-align: center;
  font-family: Delicious, sans-serif; 
  font-size:100px; 
  padding-top: 0;
  color: #53234F;
  
	/* -moz-animation: animateCloud 5s linear infinite; */
	animation: ColorChange 5s linear infinite;
}

  @media screen and (-webkit-min-device-pixel-ratio:0) {  
    .name{
      background: url(bcg.jpg) repeat-y;
      background-size: 100% 100%;  
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -webkit-animation: BackgroundSlide 5s linear infinite;
    }

.line{
	position: relative;
	left: 00px;
	width: 50%;
	text-align: left;
	font-family: Delicious, sans-serif; 
	font-size:80px; 
  display: block;
  
  margin:0 auto;

	margin-top:30px;
	margin-bottom:10px;
	height:4px;

	background-color: #E7E7E7;

  border-radius: 25px;
  
  box-shadow: 2px 2px 10px #E7E7E7; 
  }

.twitter{
  background: url("twitter.png") no-repeat;
  width: 64px;
  height: 64px;
  display: block;
  margin:0 auto;
  margin-top:30px;
  }